body{
	background:url("../material/bg09.jpg");
	background-size: cover;
}

header{
	background:url("../material/bg21.jpg");
	background-size: 100%;
	height: 200px;
}

.headfont{
	color: white;
	float: right;
	margin-top: 5px;
	font-size: medium;
}

#headfont1{
	margin-right: 10px;
}

.form-group{
	margin-left: 450px;
}

#head1span{
	float: left;
	font-size: medium;
	color: white;
}

#welcome{
	display: none;
}

#contact{
	float:right;
	margin-right: 730px;
	margin-top: 10px;
	color: black;
}

#dropdownMenu1{
	float: right;
	margin-top: 3px;
}

#dropMenu{
	left: auto;
	float: right;
	right: 0;
	margin-top: 35px;
}

.post{
	padding: 10px;
	width: 800px;
	margin: auto;
	border: lightgray solid 4px;
	background-color: white;
	border-radius: 7px;
	margin-top: 4px;
	display: none;
}

#text{
	margin: auto;
	width: 800px;
}

#textarea{
	margin-top: 10px;
}

#publish{
	margin-top: 10px;
}

.title{
	height: 30px;
}

.sponsorname{
	color: black;
	text-decoration: none;
}

.titletext{
	color: black;
}

.sponsorname:hover,.titletext:hover{
	text-decoration: none;
}

.time{
	float: right;
	margin-right: 20px;
	color:black;
}

.post div{
	margin-left: 10px;
}

textarea{
	resize:none;
}