
body{
	background:url("../material/bg09.jpg");
	background-size: cover;
}

header{
	background:url("../material/bg21.jpg");
	background-size: 100%;
	height: 200px;
}


.page-header{
	text-align: center;
}

#postcontent{
	width: 800px;
	margin-top:250px;
	margin-left: 165px;
}

#portrait{
	background-color: white;
	height: 200px;
	text-align: center;
	padding-top: 20px;
} 

#sponsorinfo:hover{
	text-decoration: none;
}

#p{
	margin-bottom: 10px;
}

#text{
	height: 180px;
}

#begintime{
	height: 20px;
	text-align: right;
}

#sponsorinfo{
	color: black;
}

#replytext{
	margin: auto;
	width: 800px;
}

#reply{
	margin-top: 5px;
	float:right;
}

textarea{
	
	resize:none;
}

.comment{
	
	
	width: 800px;
	margin: auto;
	border: lightgray solid 4px;
	background-color: white;
	border-radius: 7px;
	margin-top: 4px;
	
}

.comment div{
	margin-left: 10px;
}

.realcomment{
	font-size: medium;
}

.sponsorname{
	color: black;
}

.sponsorname:hover{
	text-decoration: none;
}