 body{
	background:url("../material/bg05.jpg") no-repeat;
	background-size: cover;
}

.alert-warning{
	height: 50px;
	width: 120px;
	float: right;
	margin-right: 120px;
	margin-top: 5px;
	height: 20px;
	padding: 0;
	display: none;
}

form{
	margin-top: 200px;
	
}

.control-label{
	margin-left: 175px;
	
}

.btn-default{
	margin-top: 25px;
	margin-left: 200px;
}

.form-horizontal{
	background-color: white;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-left: 400px;
	margin-right: 400px;
	border:8px solid #C1CFD9;
	border-radius:7px;
}

#lognow{
	margin-left: 575px;
	color: pink;
}


#haha{
	margin-left: 20px;
}

.must,.message{
	float: left;
	margin-top: 8px;
}